tqdm
pandas
pytesseract
pdf2image
requests
langdetect
certifi
charset-normalizer
greenlet
idna
mysql-connector-python
mysqlclient
numpy
packaging
Pillow
protobuf
python-dateutil
pytz
six
SQLAlchemy
urllib3
pymysql
